:root {
	--zp-accent-color: #0be;
	--zp-background-color: #222;
	--zp-foreground-color: #fff;
	--zp-md-shadow:
		0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
	--zp-md-hover-shadow:
		0 5px 5px -3px rgba(0, 0, 0, 0.2),
		0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* The Nunito font is released under the Open Font License 1.1. */
/* See "nunito-license.txt" for more licensing info. */
@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('fonts/Nunito-Bold.ttf') format('opentype');
}

body {
	margin: 0;
	background-color: var(--zp-background-color);
	color: var(--zp-foreground-color);
	font-family: 'Nunito', sans-serif;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: var(--zp-accent-color);
}

h2 {
	margin: 0;
}

section {
	padding: 10px 0;
}

#zp-header {
	background-color: #333;
	padding: 10px;

	color: #fff;
	text-align: center;
}
#zp-header h1 {
	margin: 0;
	line-height: 1.1em;
}
#zp-header p {
	margin: 0;
}

#zp-contact-section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#zp-contact-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.zp-contact-link {
	flex: 1 1 auto;
	margin: 6px;
	padding: 10px;

	text-align: center;
}

#zp-project-gallery-section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#zp-project-gallery-list {
	display: grid;
	grid-gap: 20px;
	list-style-type: none;
	padding: 0 20px;
}

@media (min-width: 540px) {
	#zp-project-gallery-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 800px) {
	#zp-project-gallery-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 980px) {
	#zp-project-gallery-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.zp-project-gallery-item {
	background-color: #333;
	box-shadow: var(--zp-md-shadow);
	border-radius: 8px;
}
.zp-project-gallery-item:hover {
	box-shadow: var(--zp-md-hover-shadow);
}
.zp-project-gallery-item > a {
	text-decoration: none;
}

.zp-project-gallery-item-image {
	width: 100%;

	border-radius: 8px 8px 0 0;
}

.zp-project-text {
	padding: 10px;
}
.zp-project-text p {
	margin: 8px 0;
}

.zp-project-title {
	font-size: 1.3em;
	text-decoration: underline;
}

.zeb-footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 4px;
	padding: 0 10px;
}
.zeb-footer p {
	margin: 4px 0;
}